[submodule "submodules/ratatui"]
	path = submodules/ratatui
	url = https://github.com/ratatui/ratatui.git
[submodule "submodules/cassowary"]
	path = submodules/cassowary
	url = https://github.com/dylanede/cassowary-rs.git
[submodule "submodules/crossterm"]
	path = submodules/crossterm
	url = https://github.com/crossterm-rs/crossterm.git
